<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aoao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{734,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{740,105}</string>
            </dict>
            <key>aoao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,109},{68,97}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,109},{68,99}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,109},{68,97}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,109},{66,95}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,109},{66,95}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,109},{64,93}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,109},{64,93}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,109},{70,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{72,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
            <key>aoao9.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,109},{70,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>aoao.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04e5a7f7e0f4e21dfa7ecb6ac7f51df1$</string>
            <key>textureFileName</key>
            <string>aoao.png</string>
        </dict>
    </dict>
</plist>
