<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wolf_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,98}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{73,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{75,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{69,96}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,110},{73,104}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,110},{73,104}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
            <key>wolf_move7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{69,98}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>sourceSize</key>
                <string>{75,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>wolf_move.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd81634a22eb23d48bf69caa8d75bd21$</string>
            <key>textureFileName</key>
            <string>wolf_move.png</string>
        </dict>
    </dict>
</plist>
